<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Aggiungi alla lista</h1>
    <p>Inserisci qualcosa
      <input type="text" [(ngModel)] = "stringa">
      <button type="button" (click) = "salva()">Save</button>
    </p>
    <h2>Elementi della lista</h2>
    <ol>
      <li *ngFor="let val of lista">{{val}}</li>
    </ol>
</div>
</body>
</html>